releases/taskxmleditor-1.0.2/schema/fake-praktomat_v0_2.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:proforma:praktomat:v0.2" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="public" type="xs:boolean"/>
  <xs:element name="required" type="xs:boolean"/>
  <xs:element name="always" type="xs:boolean"/>
  <xs:element name="config-testDescription" type="xs:string"/>
  <xs:element name="max-checkstyle-warnings" type="xs:integer"/>
  <xs:element name="version" type="xs:string"/>
  <xs:element name="allowed-upload-filename-mimetypes" type="xs:string"/>
</xs:schema>